.about_heading {
  text-align: center;
  width: 672px;
  padding-top: 0.5rem;
  margin: auto;
}
.about_image {
  text-align: center;
  width: 1000px;
  padding-top: 2rem;
  margin: auto;
}

.about_heading p {
  color: #fff0f2;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.7rem;
}
.about_area_7 {
  border-radius: 30px;
  height: auto;
  padding: 3rem;
  background-color: #323038;
  font-weight: normal;
}
.about_area p {
  color: #fff0f2;
}
.about_area_7 h1 {
  color: #a098e1;
  font-size: 32px;
  font-family: 'Poppins';
  line-height: 43px;
  font-weight: 200px;
  font-weight: lighter;
}
.about_area_7 h3 {
  color: #fff0f2;
  font-size: 18px;
  font-family: 'Poppins';
  line-height: 35px;
  font-weight: lighter;
}
.about_right {
  border-radius: 30px;
  height: auto;
  padding: 3rem;
  background-color: #fff0f2;
}
.about_area_7 h2 {
  height: 1rem;
  margin-bottom: 1.5rem !important;
}
.about_right h2 {
  color: #2a2831;
  height: 1rem;
  margin-bottom: 1.5rem !important;
}
.about_right h3 {
  color: #2a2831;
  font-size: 18px;
  font-family: 'Poppins';
  line-height: 35px;
  font-weight: lighter;
}
.about_right h1 {
  color: #2a2831;
  font-size: 32px;
  font-family: 'Poppins';
  line-height: 43px;
  font-weight: lighter;
}
.target {
  height: 130px;
  width: 170px;
  position: relative;
  left: 22rem;
  top: 1rem;
}
.about_mouse {
  height: 55px;
  width: 59px;
  position: relative;
  right: -27rem;
  top: -2rem;
}
.container {
  max-width: 1247px;
}
.companyface {
  width: 139.1px;
  height: 140px;
  position: relative;
  right: -23.5rem;
  top: -2rem;
}
.companyface2 {
  width: 139.1px;
  height: 132px;
  position: relative;
  top: 3rem;
}
.companyface_title {
  height: 31px;
  width: 98px;
  border-radius: 25px;
  position: relative;
  right: -4rem;
  top: -2rem;
  background-color: #eadff8;
  text-align: center;
}
.companyface_title h1 {
  margin: 0rem;
  font-size: 1rem;
  padding-top: 3px;
  font-family: 'Poppins';
  color: #2522ba;
  font-weight: 500;
  line-height: normal;
}
.teams {
  background-color: #2a2831;
  background-image: url('/aboutUsImages/teams_background.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 89px top;
}
.teams_center {
  padding-top: 0rem;
}
.teams_center h1 {
  color: white;
  font-size: 58px;
}
.teams_center h2 {
  color: white;
  font-size: 30px;
}
.sm_text {
  height: 140px;
  font-size: 18px;
}
.image_height {
  width: 43%;
}
.about_area_4 {
  flex-direction: column-reverse !important;
  gap: 2rem;
  padding: 7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about_area_4_sideImages {
  flex-direction: row !important;
  width: 55%;
  align-items: flex-end;
}
.about_area_4_side_face {
  width: 0% !important;
}
.col_lg_1 {
  width: 100% !important;
  align-items: center;
}
.facedetail {
  width: 470px;
  height: 300px;
  font-size: 18px;
  font-family: 'Poppins';
  color: #ffffff;
}
.about_area_4_outer {
  background-color: #323038;
  max-width: 1230px;
  border-radius: 25px;
  margin-top: 0px;
}
.about_area_4_outer h5 {
  color: #eadff8;
  font-size: 14px;
  font-family: 'Poppins';
  position: relative;
  top: 2rem;
  left: 2.5rem;
  width: 400px;
}
.main_div {
  background-color: #2a2831;
}
.about_faces {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 434px;
  color: #ffffff;
}
.about_faces h1 {
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: lighter;
  width: 315px;
}
.col_md_1 {
  width: 410px;
  height: 500px;
}

.container_highlight {
  max-width: 3240px !important;
  margin: auto;
}
.pics {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0em;
  height: 500px;
}

.col_lg_5 {
  margin: 0 1em;
  height: 400px;
  width: 319px;
}
.col_md_10 {
  width: 100%;
}

.pics_slider {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  animation: 1000s linear 0s infinite normal none running slide;
}
@keyframes slide {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

.about_area_6 {
  margin-top: 90px;
  background-color: #2a2831;
  margin-bottom: 70px;
  position: relative;
  height: auto;
}
.teams_author {
  font-weight: 500;
  letter-spacing: -0.04em;
  color: white;
}
.teams_cmt_text {
  color: white;
}
.title {
  color: white;
}
.title_sm {
  color: white;
}
.teams_head {
  margin-bottom: 43px;
}
.teams__container {
  margin: 0 -8px;
  width: 100%;
}
.about_area_4_side_img {
  width: 60px;
}
.about_area_7_circle_1 {
  position: absolute;
  background-color: #585858;
  height: 81px;
  width: 81px;
  top: 37%;
  border-radius: 50%;
  left: 15%;
}
.about_area_6_circle_1 {
  height: 119.34px;
  width: 160px;
  position: absolute;
  top: 3%;
  right: 2%;
  border-radius: 50%;
}
.about_area_6_circle_2 {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 9%;
  left: 13%;
  border-radius: 50%;
}
.about_area_6_heading {
  color: white;
}
.about_area_7_heading {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1rem;
  color: #eadff8;
}
.about_area_7_left_outer {
  padding: 5rem 0 5rem 5rem;
  width: 49.333333% !important;
}
.about_area_5_container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.aboutus_top {
  min-height: 1400px;
}
@media only screen and (max-width: 1128px) {
  .companyface {
    right: -16.5rem;
    top: -2rem;
    width: 122.1px;
  }
  .companyface_title {
    right: -4rem;
  }
  .about_mouse {
    height: 53px;
    width: 50px;
    right: -22rem;
    top: -2rem;
  }
  .target {
    left: 16rem;
  }
  .hot_news_2 {
    left: -2rem;
  }
  .hot_news {
    gap: 4rem;
  }
  .hot_new_1 {
    left: 3rem;
  }
  .about_right h1 {
    width: 108%;
  }
  .about_area_4 {
    padding: 3rem;
  }
}
.selected {
  border: 3px solid #5956e9 !important;
}

@media only screen and (max-width: 991px) {
  .about_area_row {
    flex-direction: column;
  }
  .companyface {
    right: -33.7rem;
    top: -2rem;
    width: 129.1px;
  }
  .companyface2 {
    width: 129.1px;
  }
  .about_mouse {
    right: -39rem;
  }
  .target {
    left: 33rem;
  }
  .about_right h2 {
    height: 2.5rem;
  }
  .about_area_7 h2 {
    height: 2.5rem;
  }
  .facedetail {
    width: 77%;
    margin-left: 4rem;
  }
  .hot_new_1 {
    left: 1rem;
  }
  .about_area_heading {
    margin-bottom: 0rem !important;
  }
  .about_area_4_sideImages {
    width: 100%;
  }
  .about_area_4 {
    gap: 0rem;
    padding: 1rem;
  }
  .col_lg_12 {
    padding-left: 0rem !important;
  }
  .facedetail {
    font-size: 15px;
  }
  .col_lg_1 {
    margin-top: 0rem !important;
  }
  .about_faces h1 {
    margin-left: 3.9rem;
    width: 267px;
    font-size: 28px;
  }
  .about_heading {
    width: 77%;
  }
  .about_image {
    width: 75%;
  }
  .about_area_4_outer h5 {
    width: 60%;
  }
}
@media only screen and (max-width: 575px) {
  .about_heading,
  .col_10 {
    width: 100%;
  }

  .companyface {
    right: -9rem;
    top: 6.5rem;
  }
  .about_area_7 h2 {
    font-size: 1.7rem;
  }
  .about_area_7 h1 {
    line-height: 31px;
    font-size: 24px;
  }
  .companyface_title h1 {
    padding-top: 0px;
    font-size: 16px;
  }
  .col12 {
    height: 263px;
  }
  .about_area_7 {
    padding: 1.5rem;
    padding-bottom: 4rem;
  }
  .about_right {
    padding: 1.5rem;
  }
  .target {
    left: 8.4rem;
    top: 1rem;
  }
  .about_mouse {
    display: none;
  }
  .about_heading p {
    font-size: 1rem;
  }
  .about_right h2 {
    font-size: 2rem;
  }
  .about_right h1 {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 2rem !important;
  }
  .about_area_7 h3 {
    margin-top: 0.5rem;
  }
  .facedetail {
    width: 91%;
    margin-left: 2rem;
    font-size: 18px;
    height: 429px;
  }
  .about_faces {
    width: 95%;
    margin-left: 2rem;
  }
  .about_faces h1 {
    font-size: 18px;
    width: 204px;
  }
  .about_area_4_sideImages {
    width: 100%;
    margin-top: 2rem;
  }
  .hot_news {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .hot_new_1,
  .hot_news_2 {
    left: 0rem;
  }
  .teams_center {
    padding: 3rem;
  }
  .about_right h3 {
    margin-bottom: 0rem;
  }
  .about_right h2 {
    height: 1.5rem;
  }
  .about_area_7 h2 {
    height: 1.5rem;
  }
  .about_area_4 {
    padding: 1.5rem;
    gap: 0rem;
  }
  .about_area_4_side_face {
    width: 20% !important;
    padding: 0rem;
    padding-bottom: 1rem;
  }
  .col_lg_1 {
    align-items: flex-start;
  }
  .teams_cmt_text {
    font-size: 21px;
  }
  .about_faces h1 {
    margin-left: 0rem;
  }
  .teams_center h1 {
    font-size: 35px;
  }
  .image_height {
    width: 100%;
  }
}
.link a {
  color: var(--bs-body-color);
  text-transform: none;
  transition: text-decoration 0.2s;
}

.link a:hover {
  text-decoration: underline rgb(42, 42, 129);
}
