.container {
  /* height: 100%;
  width: 100%; */
  /* min-height: 100vh; */
  /* min-height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: auto; */
}
.add {
  gap: 2rem;
}
.footer_container {
  background-color: #27272e;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
  margin: 0px;
}
.left_container {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.left_footer_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.8rem;
}
.left_items_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.8rem;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.right_container {
  display: flex;
  color: white;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}
.right_links_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.contact_details_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.india_container {
  display: flex;
  margin-bottom: 10px;
}
.email_container {
  display: flex;
  margin-bottom: 10px;
}

.header_text {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.india_text {
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.usa_text {
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.email_logo {
  color: white;
  margin: 2;
}
.email_text {
  color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.address_text {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 3px;
}
.address_text2 {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 3px;
  border-left: 1px solid #16161a;
  padding-left: 2rem;
}
.social_links_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 15px;
}

.our_stack_items_container {
  display: flex;
  flex-direction: column;
  padding: 1px;
  gap: 18px;
  margin-top: 15px;
}
.stack_text {
  margin-bottom: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #ffffff;
}

.stack_items {
  display: flex;
  align-items: center;
}
.stack_item_text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  color: #999999;
}
.footer_footer_container {
  display: flex;
  background: #27272e;
  opacity: 0.9;
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}
.footer_copyright {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;
  margin:auto;
  width: 47%;
}

.footer_copyright_right {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.btn_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid gray;
  /* justify-content: space-between; */
}
.button {
  background-color: #27272e;
  color: white;
  height: 60px;
  width: 100vw;
  display: flex;
  border-radius: 2px;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 10px;
}

.accordion-button:not(.collapsed) {
  background-color: #27272e;
}
.cursor_pointer {
  padding-right: 10px;
}
.footer_links:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}
.footer_links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer_links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.industries_container {
  width: 100%;
}
.our_stack_container {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .footer_copyright {
    font-size: 15px;
  }
  .footer_copyright_right {
    font-size: 15px;
  }
}

@media only screen and (max-width: 765px) {
  .footer_container {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .right_container {
    display: flex;
    flex-direction: column;
    background-color: #27272e;
  }
  .our_stack_container {
    width: 100%;
    margin-bottom: 4px;
    background-color: #27272e;
  }
  .industries_container {
    width: 100%;
    margin-bottom: 4px;
    background-color: #27272e;
  }
  .our_stack_items_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .accordion-button-active-bg {
    background-color: black;
  }
  .right_links_container {
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .footer_footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .right_container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    background-color: #27272e;
  }
  .footer_container {
    flex-direction: column;
  }
  .left_container {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .add {
    flex-direction: column;
  }
  .address_text2 {
    border-left: none;
    border-top: 1px solid #16161a;
    padding-top: 2rem;
    padding-left: 0rem;
  }
  .footer_copyright{
    width:100%;
  }
}
