/* General from CSS */

.genformcontainer {
  width: 100%;
  background: #ffffff;
  /* border: 1px solid #27272E; */
  border-radius: 32px;
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
}
.inputfield {
  width: 100%;
  padding: 28px;
}

.forminputdetail {
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.inputicon {
  color: #292930;
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 1;
  transform: translateY(-50%);
}

.inputicon:nth-child(2) {
  position: absolute;
  left: 100px;
}
.formcontainerheader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #292930;
}

.formcontainerinputfield {
  width: 100%;
  height: 39px;
  padding-left: 48px;
  display: inline-block;
  width: 100%;
  border: 1px solid #e3e6e9;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #292930;
  transition: all 0.25s;
}
.attachment {
  width: 100%;
  height: 39px;
  padding-left: 48px;
  display: inline-block;
  width: 100%;
  border: 1px solid #e3e6e9;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #292930;
  transition: all 0.25s;
}

.attachment {
  border: 1px solid blue;
  margin-top: 15px;
}
.formcontainerinputbtn {
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
  height: 60px;
  background: #93caaf;
  color: white;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
  transition: all 0.25s;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.formcontainerinput textarea {
  /* margin-bottom: 66px; */
  padding-top: 10px;
  width: 100%;
  display: inline-block;
  height: 128px;
  padding-left: 48px;
  border: 1px solid #e3e6e9;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  resize: none;
  color: #292930;
  transition: all 0.25s;
  vertical-align: middle;
}

.formtextarea {
  position: absolute;
}

.formnameicon {
  position: relative;
  left: -5px;
  top: -1px;
}

.formphoneicon {
  position: relative;
  top: -2px;
}
.formemailicon {
  position: relative;
  left: -8px;
}

.formdateicon {
  position: relative;
  left: 2px;
  top: -2px;
}
.textareaicon {
  position: absolute;
  /* left:8px; */
  top: -48px;
  z-index: 1;
  /* transform: translateY(-50%); */
}
.smallpara {
  margin-block: 24px;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #27272e;
}
.datetime {
  height: 39px;
  width: 100%;
}

.datevalue input {
  color: rgb(128, 123, 123);
  padding-left: 50px;
}

@media screen and (max-width: 767px) {
  .genformcontainer {
    width: 350px;
  }

  .formcontainerheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    justify-content: center;
  }

  .inputfield {
    padding: 28px;
  }

  .smallpara {
    margin-block: 10px;
  }
}
@media screen and (max-width: 479px) {
  .genformcontainer {
    border: none;
    width: 100%;
    margin-top: 5px;
  }

  .inputfield {
    padding-inline: 4px;
  }
}
