.services_image_container {
  height: 28rem;
  /* width: 55vw; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
.openai_image {
  height: 48vh;
}

@media (max-width: 1000px) {
  .services_image_container {
    /* width: 85vw; */
    height: 30vh;
  }
  .openai_image {
    height: 70vh;
  }
}
@media (max-width: 480px) {
  .services_image_container {
    /* width: 95vw; */
    height: 39vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .openai_image {
    height: 40vh;
  }
}
